html,
body {
	height: 100%;
}
body {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}
.form-signin .checkbox {
	font-weight: 400;
}
.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.top {
	margin-bottom: -2px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.middle {
	border-radius: 0;
	margin-bottom: -2px;
}

.bottom {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
@media screen and (min-width: 1024px) {
	.main-box {
		display: flex;
		flex-direction: column;
		background-color: white;
		width: 60rem;
		height: 40rem;
		border-radius: 30px;
		justify-content: center;
	}
	.email-pic {
		margin-bottom: 35px;
		align-self: center;
	}
	.text {
		text-align: center;
		align-self: center;
	}
	.text-main  {
		font-size: 30px;
		font-family: 'Varela Round', sans-serif;
	}

	.sub-main-box {
		margin-top: 35px;
		align-self: center;
		width: 425px;
		height: 3.5rem;
		border: 1px solid dimgrey;
		border-radius: 10px;
	}
	.copy-right {
		align-self: center;
		margin-top: 15px;
	}
	.sub-box {
		display: flex;
		margin-top: 7px;

	}
	.sub-btn-box {
		margin-left: auto;
		margin-right: 6px;
	}
	.ch-box-size {
		border: none;
		padding-left: 8px !important;
		width: 17.5rem;
	}
	.form-control:focus {
		box-shadow: none;
	}
}
