html,
body {
	height: 100%;
}
body {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.main-box {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 30px;
	justify-content: center;
}
.text-main {
	font-family: 'Varela Round', sans-serif;
	font-weight: bold;
}
.text {
	margin: 10px;
	text-align: center;
	align-self: center;
}
.copy-right {
	position: fixed;
	bottom: 10px;
	align-self: center;
}
.ch-box-size {
	background-color: transparent;
}


@media screen and (min-width: 320px) and (max-width: 1023px) {
	.ch-on-small {
		width: 170px;
		height: 145px;
	}
	.main-box {
		width: 315px;
		height: 560px;
	}
	.email-pic {
		align-self: center;
		margin-bottom: 20px;
	}
	.text-main {
		font-size: 17px;
	}
	.sub-main-box {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
	}
	.sub-btn-box {
		display: flex;
	}
	.sub-btn {
		margin: 10px auto;
	}
	input::placeholder {
		text-align: center;
	}
}

@media screen and (min-width: 768px) {
	.main-box {
		width: 675px;
	}
	.sub-main-box {
		margin-top: 35px;
		align-self: center;
		width: 425px;
		height: 3.5rem;
		border: 1px solid dimgrey;
		border-radius: 10px;
	}
	.sub-box {
		display: flex;

	}
	.email-box {
		padding-top: 8px;
	}
	.sub-btn-box {
		margin-left: auto;
		margin-right: 6px;

	}
	.ch-box-size {
		border: none;
		padding-left: 8px !important;
		width: 17.5rem;
	}
	.form-control:focus {
		box-shadow: none;
	}
	input::placeholder {
		text-align: left;
	}

}

@media screen and (min-width: 1024px) {
	.main-box {
		width: 60rem;
		height: 40rem;

	}
	.email-pic {
		margin-bottom: 35px;
		align-self: center;
	}

	.text-main  {
		font-size: 30px;
	}


	.sub-main-box {
		margin-top: 35px;
		align-self: center;
		width: 425px;
		height: 3.5rem;
		border: 1px solid dimgrey;
		border-radius: 10px;
	}
	.sub-box {
		display: flex;
		margin-top: 7px;

	}
	.sub-btn-box {
		margin-left: auto;
		margin-right: 6px;
	}
	.ch-box-size {
		border: none;
		padding-left: 8px !important;
		width: 17.5rem;
		padding-bottom: 15px;
	}
	.form-control:focus {
		box-shadow: none;
	}
	input::placeholder {
		text-align: left;
	}
}
